h1 {
    text-align: right;
    font-family: Cooper;
    color: #000080;
    margin-top: 10px;
}


.form {
    max-width: 75%;
    margin: auto;

}

.table {
    max-width: 75%;
    margin: 30px auto;
    background-color: #ADD8E6;
}

.logo img {
    height: 45px;
    width: 43px;
    margin-right: 30px;
}