body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../Mini-project/assets/wallpaper9.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center
}

.login-page {
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: rgba(9, 50, 200, 0.3);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input {
	font-family: Calibri;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	font-family: Sans-serif;
	text-transform: uppercase;
	background: #4CAF50;
	width: 50%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	margin: 5px;
	cursor: pointer;
}

.form button:hover,
.form button:active {
	background: #43A047;
}

.form.message {
	margin: 15px 0 0;
	font-size: 12px;
}

.form .message a {
	color: #000080;
	text-decoration: none;

}


.form .register-form {
	display: none;
}

h2 {
	color: #000000;
}


h3 {
	padding: 0;
	font-weight: bold;
	font-size: 30px;
	color: #000000;
	text-align: right;
	margin-bottom: 8%;
	font-family: Vivaldi;
}